* {
    margin: 0;
    padding: 0;
}

body {
    padding-left: 22.5%;
    background-color: black;
}

.corpo {
    background-color: blue;
    width: 800px;
    height: 1000px;
}

.containermenu {
    text-align: center;
}

.menu {
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.container-botao {
    display: flex;
    height: 45px;
}

.flex-item {
    text-decoration: none;
    color: white;
    font-size: 20px;
}



